
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    font-family: 'Press Start 2P', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

/* GENERAL */
.section-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

@media screen and (orientation: landscape) {
    /* Your CSS rules for horizontal screen */
    .section-container {
        height: fit-content;
    }
}

.title-text {
    color: #FFF;
    font-size: clamp(1rem, 2.5vw, 3rem);
    text-shadow: calc(3px + 0.15vw) calc(3px + 0.15vw) 0 #000;
    margin: 0;
}

.subtitle-text {
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    text-shadow: calc(2px + 0.15vw) calc(2px + 0.15vw) 0 #000;
    margin: 0;
}

/* HEADER */

header {
    position: relative;
    background-image: url('/assets/header-bg.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

#role {
    margin: 15px 0;
    color: #FFE500;
}

#role-focus {
    margin: 0;
    color: #00F9CC;
}

#profile-photo {
    height: calc(100px + 30vw);
    width: fit-content ;
    border-radius: 50%;
    align-self: center;
    border-bottom: 1px solid #CF28A7;
    margin: calc(10px + 2vw) 0 calc(20px + 5vw) 0;
}

#socials-cv {
    width: calc(100% - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(35px + 10%);
    row-gap: calc(15px + 5vw);
}

#socials-cv a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#socials-cv a img {
    height: calc(30px + 3vw);
    transition: all 0.3s ease-in-out;
    border: 1px solid #FFFFFF00;
}

#socials-cv a img:hover {
    transform: scale(1.2);
    padding: 20%;
    border: 1px solid #FFF;
    background-color: #FFFFFF11;
}

/* EXPERIENCE SECTION */
#experience {
    background-image: url('/assets/exp-bg.webp');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects {
    background-image: url('/assets/projects-bg.webp');
}

#skills {
    background-image: url('/assets/skills-bg.webp');
}

#about-me {
    background-image: url('../assets/aboutMe-bg.webp');
}

@media (width >= 768px) {
    .section-container {
        height: 100vh;
    }
}

/* HEADER MEDIA QUERIES */
@media (width > 768px) {

    header {
        align-items: start;
        padding: 0 4rem;
        text-align: left;
    }
    
    #profile-photo {
        position: absolute;
        bottom: 0;
        right: 0;
        height: calc(160px + 30vw);
        border-radius: 0%;
        border-bottom: none;
        margin: 0;
    }

    #role {
        margin: 5vh 0;
    }

    #socials-cv {
        position: absolute;
        bottom: 10vh;
        justify-content: start;
    }

}