* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: "Press Start 2P", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;

  /* Hide scrollbar for Firefox */
  scrollbar-width: 0;
  -ms-overflow-style: none; /* IE and Edge */
}

/* GENERAL */
.section-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (orientation: landscape) {
  /* Your CSS rules for horizontal screen */
  .section-container {
    height: fit-content;
  }
}

.title-text {
  color: #fff;
  font-size: clamp(1.3rem, 2.5vw, 3rem);
  text-shadow: calc(3px + 0.15vw) calc(3px + 0.15vw) 0 #000, 0px 0px 5px #000;
  margin: 0;
}

.subtitle-text {
  font-size: clamp(0.8rem, 1.5vw, 2rem);
  text-shadow: calc(2px + 0.15vw) calc(2px + 0.15vw) 0 #000, 0px 0px 5px #000;
  margin: 0;
}

/* HEADER */
header {
  background-image: url("/assets/backgrounds/header-bg.webp");
  text-align: center;
  padding: 1rem;
}

#role {
  margin: 15px 0;
  color: #ffe500;
}

#role-focus {
  margin: 0;
  color: #00f9cc;
}

#profile-photo {
  height: calc(100px + 30vw);
  width: fit-content;
  align-self: center;
  margin: calc(10px + 2vw) 0 calc(20px + 5vw) 0;
  mask-image: linear-gradient(#000 85%, transparent);
}

#socials-cv {
  width: calc(100% - 2rem - 2vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(35px + 10%);
  row-gap: calc(15px + 5vw);
}

#socials-cv a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#socials-cv a img {
  height: calc(30px + 3vw);
  transition: all 0.3s ease-in-out;
  border: 1px solid #ffffff00;
}

#socials-cv a img:hover {
  transform: scale(1.2);
  padding: 20%;
  border: 1px solid #fff;
  background-color: #ffffff11;
}

/* EXPERIENCE SECTION */
#experience {
  background-image: url("/assets/backgrounds/exp-bg.webp");
}

/* PROJECTS SECTION */
#projects {
  background-image: url("/assets/backgrounds/projects-bg.webp");
}

.section-bigger-miniature {
  position: absolute;
  width: calc(100px + 12vw);
  bottom: 0;
}

.left-section-bigger-miniature {
  left: calc(25vw - 50px);
}

.right-section-bigger-miniature {
  right: calc(25vw - 50px);
}

#skills {
  background-image: url("/assets/backgrounds/skills-bg.webp");
}

#about-me {
  background-image: url("../assets/backgrounds/aboutMe-bg.webp");
}

@media (width >= 768px) {
  .section-container {
    height: 100vh;
  }
}

/* HEADER MEDIA QUERIES */
@media (width > 768px) {
  header h1, header h2 {
    padding: 0 1vw;
    align-self: start;
    text-align: left;
  }

  #profile-photo {
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(130px + 27vw);
    border-radius: 0%;
    border-bottom: none;
    margin: 0;
  }

  #role {
    margin: 5vh 0;
  }

  #socials-cv {
    position: absolute;
    bottom: 10vh;
    justify-content: start;
  }
}
