.px-cont {
    flex-shrink: 0;
}

.px-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

article:hover > .px-cont::before, article:hover::before {
    opacity: 0.3;
}

article {
    position: relative;
    height: 60vh;
    width: 33vh;
    transition: all 0.5s ease-in-out;
}

article::before {
    background: linear-gradient(180deg, #FFF 0%, #FFF 30%, transparent 100%);
    transition: all 0.5s ease-in-out;
}

#px-cont-layer-0 {
    position: absolute;
    top: 4%;
    left: -4%;
    width: 108%;
    height: 92%;
    transition: all 0.4s ease-in-out;
}

#px-cont-layer-0::before {
    background: linear-gradient(180deg, #FFF 0%, #FFF 20%, transparent 100%);
    transition: all 0.4s ease-in-out;
}

#px-cont-layer-1 {
    position: absolute;
    top: 8%;
    left: -8%;
    width: 116%;
    height: 84%;
    transition: all 0.3s ease-in-out;
}

#px-cont-layer-1::before {
    background: linear-gradient(180deg, #FFF 0%, #FFF 10%, transparent 100%);
    transition: all 0.3s ease-in-out;
}

#px-cont-layer-2 {
    position: absolute;
    top: 12%;
    left: -12%;
    width: 124%;
    height: 76%;
    overflow-y: hidden;
    transition: all 0.2s ease-in-out;
}

article:hover > #px-cont-layer-2 {
    overflow-y: visible;
}

#px-cont-layer-2::before {
    background: linear-gradient(180deg, #FFF 0%, transparent 100%);
    transition: all 0.2s ease-in-out;
}

#px-container-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    transition: all 0.5s ease-in-out;
}

#px-cont-icon {
    width: 25%;
    transition: transform 0.3s ease-in-out;
}

article:hover > #px-cont-layer-2 > #px-container-cover > #px-cont-icon{
    transform: scale(0) translateY(-40vh);
}
    
#px-cont-title {
    width: 80%;
    font-size: calc(4px + 1.5vh);
    text-align: center;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: transparent;
    text-shadow: 2px 2px 0 #FFF;
    font-family: 'Press Start 2P', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform 0.4s ease-in-out, color 0.4s ease-in-out, text-shadow 0.4s ease-in-out, background-color 0.2s ease-in-out, padding 0.4s ease-in-out;
}

article:hover > #px-cont-layer-2 > #px-container-cover > #px-cont-title {
    transform: scale(0.85) translateY(-39vh);
    color: #FFF;
    text-shadow: 2.5px 2.5px 0 #000;
    background-color: #000;
    padding: 0.5rem;  
}

#hover-data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    transform: scale(0%);
    transition: transform 0.3s ease-in-out;
}

article:hover > #px-cont-layer-2 > #hover-data {
    transform: scale(100%);
}

#hover-data p {
    font-weight: bold;
    font-size: clamp(0.5rem, 0.65vw, 2rem);
    text-shadow: 1px 1px 3px #FFF;
    width: 75%;
    text-align: center;
}

#hover-data a {
    color: #FFF;
    font-size: clamp(0.55rem, 0.65vw, 2rem);
    text-decoration: none;
    background-color: #00000088;
    padding: 2% 10%;
    transition: background-color 0.2s ease-in-out;
    margin-top: 4%;
}

#hover-data a:hover {
    background-color: #000000FF;
}
